<html>
    <head>
        <title>Plot webapp</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Plotting Web App</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('plot') }}">
                  <label for="f(x) =">f(x)</label>
                  <input type="text" name="function" /><br />
                  <label for="youremail">Interval</label>
                  <input type="text" name="youremail" value="x from -10 to 10" /><br />
                  <input type="submit" value="Plot"/>
                </form>
            </div>
            <!--<div class="title">
             <h1>Graph</h1>
            </div> -->
            </div>
        </div>
    </body>
</html>

